* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: azure;
    font-weight: bold;
    font-family: sans-serif;
}

.form {
    padding: 5rem 12rem 12rem 12rem;
    
}





/* label color */
.input-field label {
    color: #616161;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #616161;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 0 #616161;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #616161;
    box-shadow: 0 1px 0 0 #616161;
}


/* icon prefix focus color */
.input-field .prefix.active {
    color: #616161;
}
    







 













