* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: azure;
    font-weight: bold;
}

body {
    background-image: url("../images/background-image2.jpeg");
    background-size: 100% 100%; 
    background-repeat: no-repeat;

    
}

.nav {
    height: 75px;
  
}
nav {
   
    margin: 0 auto;
    margin-bottom: 100px;
    

}

.navbar-brand {
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 30px;
    padding-top: 20px;
    margin: 0px 10px;
    color: azure;

    
}

a:hover {
    color: #fe6061;
}

h3 {
   
   
    text-align: center;
    font-family: 'Bad Script', cursive;
    margin-bottom: 60px;
    font-size: 40px;
}
 .about {
    font-family: 'Raleway', sans-serif;
   

}

.about {
    text-align: center;
    line-height: 30px;
    background-color: #fe6061;
    border-radius: 20px 5px 20px 5px;
    padding: 20px;
    margin-top: 70px;
}

img {
    border-radius: 10%;

}
.image {
   border: 5px solid azure;
   width: 310px;
   border-radius: 12%;
   margin: 0 auto;

    
}

form {
    margin-bottom: 350px;
    
}

section {
    border-radius: 12%;
    margin: 0 auto; 
    width: 200px; 
}

.fab {
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
}
#icons-row {
    height: 100px;
}

#portfolio-content {
    background-color: #fe6061;
    padding-top: 40px;
}






